.navbar-brand span {
  color: red;
}

.navbar {
  background-color: #3e2723;
  padding: 1rem !important;
}

.navbar-brand {
  font-weight: bolder;
  color: white !important;
}

.navbar-text button {
  background-color: white;
  color: #3e2723;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 10px;
}

.navbar-text button:hover {
  font-weight: bold;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.nav-item a {
  color: white;
}

ul li a {
  color: white !important;
}

.nav-link.active {
  color: white !important;
  border-bottom: 2px solid white;
}
