.breadcrumb-item a {
  text-decoration: none;
  color: #3e2723;
}

.card a {
  background-color: #3e2723;
  color: white;
}

.card a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #3e2723;
}
